.no_container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}
.full_width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
.carousel-inner img {
    max-width: 100%;
}
.customBg{
    background-color: #fafaf2;
    /* padding: 10px; */
    /* overflow: auto; */
}
.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-transform:lowercase;
    font-size: 1.4rem;
}