
* {
   box-sizing: border-box;
}

:root {
   --primary-color: #F44336;
   --white-color: #FFFFFF;
   --black-color: #000000;
}

html {
   font-size: 62.5%
}

body {
   font-size: 1.6rem;
   font-family: "Quicksand", sans-serif;
}

a {
   text-decoration: none;
}


input,
textarea,
select,
button {
   font-family: inherit;
   font-size: inherit;
}


.header {
}                                                                                                                                                     sqqsqqq


/* Footer */

.footer__row {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 70px;

   /* background-color: red; */
   /* display: flex;
   background-color: red;
   justify-content: space-between; */
}

.footer__heading {
   /* margin-bottom: 15px;
   font-weight: 600;
   font-size: 1.5rem;
   padding-bottom: 10px; */
   font-size: 1.8rem;
   color: black;
   margin-bottom: 20px;
   font-weight: 500;
   /* position:absolute; */
}

.footer__heading::after {
   content: "";
   width: 100px;
   height: 2px;
   background-color: #58595B;
   display: block;
   position: relative;
   top: 5px;

}
.red {
   background:red;
}

.footer__link,
li {
   font-size: 1.6rem;
   color: black;
   line-height: 1.8;
}

.footer__item {
   padding-bottom: 10px;
}

.footer__link:hover {
   color: var(--primary-color);
}

.navbar__list {
   display: flex;
   flex-direction: row;
}

.fix-header {
   background-color: green;
   padding-top: 20px;

}

header__inner {
}
.navbar {
   /* top: -20px; */
   display: flex;
   padding: 20px 0;
}

.header {
   position:sticky;
   /* border-bottom: 4px solid red; */
}

.navbar__link {
   padding: 8px 18px;
   font-size: 1.6rem;
   font-weight: 500;
   color: black;
   line-height: 1
}
.footer .img {
    max-width: 150px;
}

.mySlides {
  display: none;
}
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}