* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --font-heading: "Sen", sans-serif
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    /* background: red; */
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 999px;
    min-width: 118px;
    padding: 0 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #FFFCF4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;

}

.nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
    position: relative;

}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    position: absolute;
    left: 21px;
    bottom: 6px
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    display: flex;
    background: #FFFCF4;
    padding-top: 56px;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;

}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .hero-summary {
    border-radius: 12px;
    background: #FFF;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 24px;
}

.hero .hero-summary .item {
    display: flex;
}

.hero .hero-summary .item+.item {
    margin-top: 22px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero .hero-summary .lable {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero .hero-summary .title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .hero-summary .icon {
    background-color: #FFF9E8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-summary .info {
    margin-left: 16px;
}



.content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -1.16px;
}

.content-block .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin: 22px 0;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    /* background: red;  */
    align-items: center;
}

.cta-group .watch-video {
    border: none;
    background: #FFF;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    background: #FFB900;
    line-height: 64px;
}

.hero .desc strong {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 8px 0 28px;
}

.hero .stats {
    margin-left: -28px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular {
    padding: 65px 0;
    ;
    background: #fff;
    padding-top: 135px;
}

.popular .heading {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.popular .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    width: 458px;
    margin-top: 16px;
    /* 166.667% */
}

/* Feedback */
.feedback {
    background: #2E2100;
    padding: 96px 0px;
}

.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback .info {}

.feedback .content {
    width: 66%;
    margin-left: auto;
}

.feedback .info .title {
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 18px;
}

.feedback .info .des {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8; 
    margin-top: 4x;

}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .dots {
    display: flex;

}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 8px;
    margin-top: 28px;
    cursor: pointer;
}
.feedback-item .dot,active{
    background: #FFB900;
}

.content blockquote {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 30px;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}

/* Features */

.features {
    margin-top: 135px;
/* Course-List */

.course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}



.course-item {
    width: 370px;
    /* height: 466px; */
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}

.course-list .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-list .info {
    padding: 16px 22px 22px;
}

.course-list .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

.course-item .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    max-width: 100%;
    /* 185.714% */
}
.course-item .foot {
    padding: 22px;
    display: flex;
    justify-content: space-between ;
}